# Owner staff account (created once on first boot; later changes are ignored)
GHOST_ADMIN_EMAIL=admin@example.com
GHOST_ADMIN_PASSWORD=change-me-now-please

# Optional: SMTP credentials
# mail__options__auth__user=
# mail__options__auth__pass=
